# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django files
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/
env/
.env

# VS Code / IDEs
.vscode/
.idea/
.gemini/
